html {
  background: var(--light-background);
  color: var(--light-typo);
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: env(safe-area-inset);
  height: -webkit-fill-available;
}

body {
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
  overflow-y: scroll;

  @apply transition-colors duration-200 ease-in-out;
}

nav li a {
  @apply text-gray p-2 -mx-2 cursor-pointer hover:bg-blue-50 hover:text-blue-600 py-1 rounded transition font-medium;
}

nav .nuxt-link-exact-active {
  @apply text-blue-900 hover:text-blue-900 bg-blue-50 cursor-default;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-brand {
  font-family: var(--font-brand);
}

.font-sans {
  font-family: var(--font-sans);
}

a[href*="//"]:not([href*="robin-schreiner.de"]) {
  @apply underline;
}

a[href^='tel']::after,
a[href^='mailto']::after,
a[href^='http']::after {
  content: '';
  width: 11px;
  height: 9px;
  margin-left: 4px;
  -webkit-mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTS44MTUgMTAgMCA5LjE4NWw4LjAyNS04LjAyNmgtNi43MlYwSDEwdjguNjk2SDguODRWMS45NzVMLjgxNiAxMFoiLz48L3N2Zz4=');
  mask-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0ibm9uZSI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTS44MTUgMTAgMCA5LjE4NWw4LjAyNS04LjAyNmgtNi43MlYwSDEwdjguNjk2SDguODRWMS45NzVMLjgxNiAxMFoiLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: contain;
  background: #ccc;
  display: inline-block;
}

/* Need two because of smoother switching between color modes */
@keyframes fadeIn1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
