@font-face {
  font-family: 'Akzidenz-Grotesk Pro Med Ext';
  src: url('~static/fonts/AkzidenzGroteskPro-MdEx.woff2') format('woff2'),
    url('~static/fonts/AkzidenzGroteskPro-MdEx.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akzidenz-GroteskProBoldExt';
  src: url('~static/fonts/AkzidenzGroteskPro-BoldEx.woff2') format('woff2'),
    url('~static/fonts/AkzidenzGroteskPro-BoldEx.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
/*******/
@font-face {
  font-family: 'SuisseIntl';
  src: url('~static/fonts/SuisseIntl/SuisseIntl-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('~static/fonts/SuisseIntl/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('~static/fonts/SuisseIntl/SuisseIntl-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl-';
  src: url('~static/fonts/SuisseIntl/SuisseIntl-SemiBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('~static/fonts/SuisseIntl/SuisseIntl-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SuisseIntl';
  src: url('~static/fonts/SuisseIntl/SuisseIntl-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* ===== APERCU ===== */
/* - Light 300
** - Light Italic 300
** - Regular 400
** - Regular Italic 400
** - Medium 500
** - Medium Italic 500
** - Bold  700
** - Bold Italic  700
*/

@font-face {
  font-family: 'Apercu';
  src: url('~static/fonts/apercu/Apercu-Light.eot');
  src: url('~static/fonts/apercu/Apercu-Light.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/apercu/Apercu-Light.woff2') format('woff2'),
    url('~static/fonts/apercu/Apercu-Light.woff') format('woff'),
    url('~static/fonts/apercu/Apercu-Light.ttf') format('truetype'),
    url('~static/fonts/apercu/Apercu-Light.svg#Apercu-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('~static/fonts/apercu/Apercu-LightItalic.eot');
  src: url('~static/fonts/apercu/Apercu-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/apercu/Apercu-LightItalic.woff2') format('woff2'),
    url('~static/fonts/apercu/Apercu-LightItalic.woff') format('woff'),
    url('~static/fonts/apercu/Apercu-LightItalic.ttf') format('truetype'),
    url('~static/fonts/apercu/Apercu-LightItalic.svg#Apercu-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('~static/fonts/apercu/Apercu-Regular.eot');
  src: url('~static/fonts/apercu/Apercu-Regular.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/apercu/Apercu-Regular.woff2') format('woff2'),
    url('~static/fonts/apercu/Apercu-Regular.woff') format('woff'),
    url('~static/fonts/apercu/Apercu-Regular.ttf') format('truetype'),
    url('~static/fonts/apercu/Apercu-Regular.svg#Apercu-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('~static/fonts/apercu/Apercu-Italic.eot');
  src: url('~static/fonts/apercu/Apercu-Italic.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/apercu/Apercu-Italic.woff2') format('woff2'),
    url('~static/fonts/apercu/Apercu-Italic.woff') format('woff'),
    url('~static/fonts/apercu/Apercu-Italic.ttf') format('truetype'),
    url('~static/fonts/apercu/Apercu-Italic.svg#Apercu-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('~static/fonts/apercu/Apercu-Medium.eot');
  src: url('~static/fonts/apercu/Apercu-Medium.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/apercu/Apercu-Medium.woff2') format('woff2'),
    url('~static/fonts/apercu/Apercu-Medium.woff') format('woff'),
    url('~static/fonts/apercu/Apercu-Medium.ttf') format('truetype'),
    url('~static/fonts/apercu/Apercu-Medium.svg#Apercu-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('~static/fonts/apercu/Apercu-MediumItalic.eot');
  src: url('~static/fonts/apercu/Apercu-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/apercu/Apercu-MediumItalic.woff2') format('woff2'),
    url('~static/fonts/apercu/Apercu-MediumItalic.woff') format('woff'),
    url('~static/fonts/apercu/Apercu-MediumItalic.ttf') format('truetype'),
    url('~static/fonts/apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('~static/fonts/apercu/Apercu-Bold.eot');
  src: url('~static/fonts/apercu/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/apercu/Apercu-Bold.woff2') format('woff2'),
    url('~static/fonts/apercu/Apercu-Bold.woff') format('woff'),
    url('~static/fonts/apercu/Apercu-Bold.ttf') format('truetype'),
    url('~static/fonts/apercu/Apercu-Bold.svg#Apercu-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('~static/fonts/apercu/Apercu-BoldItalic.eot');
  src: url('~static/fonts/apercu/Apercu-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('~static/fonts/apercu/Apercu-BoldItalic.woff2') format('woff2'),
    url('~static/fonts/apercu/Apercu-BoldItalic.woff') format('woff'),
    url('~static/fonts/apercu/Apercu-BoldItalic.ttf') format('truetype'),
    url('~static/fonts/apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}

@layer base {
  article {
    max-width: 80ch;
    @apply mx-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: var(--text);
    @apply transition-colors duration-200 ease-in-out;
    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + p {
      @apply mt-4;
    }
  }

  h1 {
    @apply font-brand
      font-bold
      text-2xl
      leading-tight
      tracking-tight;
  }

  h2 {
    @apply font-brand
      font-light
      text-xl
      leading-tight
      tracking-tight;
  }

  h3 {
    @apply font-brand
      font-bold
      text-xl
      leading-tight;
  }

  h4 {
    @apply font-brand
      font-normal
      text-xl
      leading-tight;
  }

  h5 {
    @apply text-lg
      leading-tight
      tracking-wide;
  }

  h6 {
    @apply font-light
      text-lg
      leading-tight
      tracking-wide
      uppercase;
  }

  p {
    color: var(--text);
    @apply font-brand leading-normal transition-colors duration-200 ease-in-out;

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6,
    & + p {
      @apply mt-4;
    }

    & a[href] {
      color: var(--text-secondary);

      @apply underline;
    }
  }

  a {
    color: var(--text-secondary);
    @apply transition-colors duration-200 ease-in-out;
  }

  .title {
    color: var(--text);
    @apply block text-2xl font-brand font-bold transition-colors duration-200 ease-in-out;
  }

  .subtitle {
    color: var(--text);
    @apply block text-xl font-brand leading-tight max-w-30ch font-light transition-colors duration-200 ease-in-out;
  }

  .nuxt-content {
    max-width: 80ch;
    @apply my-8;

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      & > a {
        &::before {
          content: '#';
          color: var(--text-secondary);
          @apply -ml-6 opacity-0 transition-opacity duration-100 ease-in-out;
        }
      }
      &:active,
      &:hover,
      &:focus {
        & > a::before {
          @apply opacity-100;
        }
      }
    }
    & p {
      & + h1,
      & + h2,
      & + h3,
      & + h4,
      & + h5,
      & + h6 {
        @apply mt-8;
      }
    }
    & h3 {
      @apply text-lg
        font-bold;
    }
    & img {
      @apply mx-auto my-4 rounded;
    }
    /*! purgecss start ignore */
    & ol > li,
    & ul > li {
      color: var(--text);
      @apply font-brand leading-normal transition-colors duration-200 ease-in-out;
    }
    & > ol {
      @apply list-decimal grid gap-y-2 my-4 ml-4;
      & ol {
        @apply list-decimal grid gap-y-1 ml-8 mt-2;
      }
    }
    & > ul {
      @apply list-disc grid gap-y-2 my-4 ml-4;
      & ul {
        @apply list-disc grid gap-y-1 ml-8 mt-2;
      }
    }
    & code,
    & kbd,
    & samp {
      color: var(--text-secondary);
      background-color: var(--bg-secondary);
      @apply p-1 rounded transition-colors duration-200 ease-in-out;
    }

    & .nuxt-content-highlight {
      @apply relative my-4;
      & > .filename {
        color: var(--text-secondary);
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        @apply absolute right-0 top-0 z-10 font-mono text-sm leading-5 mr-3 mt-2;
      }
      & pre[class*='language-'] {
        background-color: var(--bg-secondary);
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        @apply p-4 rounded transition-colors duration-200 ease-in-out;
      }
      & .token.operator {
        background: none;
      }
    }
  }
  /*! purgecss end ignore */

  @screen sm {
    .title {
      @apply text-4xl;
    }
    .subtitle {
      @apply text-3xl;
    }
    .nuxt-content {
      & ul {
        @apply ml-0;
      }
    }
  }

  @screen md {
    h1 {
      @apply text-4xl leading-none;
    }

    h2 {
      @apply text-3xl;
    }

    h3 {
      @apply text-2xl;
    }

    h4 {
      @apply text-xl;
    }

    h5,
    h6 {
      @apply text-lg;
    }

    p {
      @apply leading-relaxed;
    }
  }
}
